html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #21243d;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: white;
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1328px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-weight: bold;
  color: white;
}
.title-lg {
  font-size: 124px;
}
.title-md {
  font-size: 75px;
  color: #21243d;
}
.title-sm {
  font-size: 64px;
}
.title-xs {
  font-size: 28px;
}

.text {
  color: white;
}
.text-xl {
  font-size: 42px;
}
.text-lg {
  font-size: 30px;
}
.text-md {
  font-size: 26px;
}
.text-sm {
  font-size: 24px;
}
.text-xs {
  font-size: 16px;
}

.link {
  cursor: pointer;
}

.btn {
  width: fit-content;
  background-color: #21243d;
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
  padding: 26px 74px;
  border-radius: 100px;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .btn {
    font-size: 16px;
    padding: 16px 32px;
  }

  .title-lg {
    font-size: 62px;
  }
  .title-md {
    font-size: 38px;
  }
  .title-sm {
    font-size: 32px;
  }
  .title-xs {
    font-size: 24px;
  }
  .title-xxs {
    font-size: 14px;
  }

  .text {
    color: white;
  }
  .text-xl {
    font-size: 22px;
  }
  .text-lg {
    font-size: 16px;
  }
  .text-md {
    font-size: 14px;
  }
  .text-sm {
    font-size: 12px;
  }
  .text-xs {
    font-size: 8px;
  }
}
.header__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 17px 0px 20px;
}
.header__nav {
  flex: 1;
  padding-left: 15%;
  padding-right: 10px;
}
.header__nav .nav__list {
  display: flex;
  align-items: center;
  gap: 0 6%;
}
.header__nav .nav__link {
  font-size: 25px;
}
.header__icons {
  padding-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__icons .icon__toggle {
  display: none;
  padding-left: 30px;
  font-size: 30px;
  color: white;
}
@media screen and (max-width: 1023px) {
  .header__nav {
    display: none;
  }
  .header__icons .icon__toggle {
    display: initial;
  }
}
.hero {
  background: url(../images/img1.png) no-repeat center center;
}
.hero__main {
  padding: 170px 0 156px;
}
.hero__title {
  margin-bottom: 80px;
}
.hero__desc {
  max-width: 50%;
  margin-bottom: 52px;
  word-wrap: break-word;
}
@media screen and (max-width: 1023px) {
  .hero__desc {
    max-width: 80%;
  }
}
@media screen and (max-width: 767px) {
  .hero__main {
    padding: 70px 0 56px;
  }
  .hero__title {
    margin-bottom: 40px;
  }
  .hero__desc {
    max-width: 100%;
    margin-bottom: 26px;
  }
}

.menu {
  background: url(../images/img2.png) no-repeat center center;
  height: auto;
}
.menu__main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 188px;
}
.menu__heading {
  margin-top: 94px;
  margin-bottom: 46px;
}
.menu__desc {
  max-width: 720px;
  text-align: center;
  margin-bottom: 76px;
}
.menu__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 6vw;
  margin-bottom: 128px;
}
.menu__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.menu__item__img {
  width: 240px;
  margin-bottom: 26px;
}
.menu__item__title {
  margin-bottom: 32px;
}
.menu__item__desc {
  text-align: center;
  width: 300px;
}
@media screen and (max-width: 1023px) {
  .menu__main {
    margin: 0;
  }
  .menu__items {
    grid-template-columns: 1fr;
    gap: 68px 0;
    margin-bottom: 68px;
  }
  .menu__heading {
    margin-top: 50px;
    margin-bottom: 36px;
  }
  .menu__desc {
    margin-bottom: 38px;
  }
  .menu__item__desc {
    width: 50%;
  }
}
.ads {
  padding: 192px 0 144px;
}
.ads__first {
  background: #ffd17e url(../images/img6.png) no-repeat center center;
}
.ads__second {
  background: #ffd17e url(../images/img12.png) no-repeat center center;
}
.ads__main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 5vw;
}
.ads__img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ads__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ads__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.ads__heading {
  margin-bottom: 60px;
}
.ads__desc {
  margin-bottom: 75px;
  color: #21243d;
}
@media screen and (max-width: 1023px) {
  .ads {
    padding: 96px 0 72px;
  }
  .ads__main {
    grid-template-columns: 1fr;
    gap: 5vh 0;
  }
  .ads__img img {
    width: 60%;
  }
}
@media screen and (max-width: 767px) {
  .ads__img img {
    width: 100%;
  }
}

.statistic {
  background: url(../images/img8.png) no-repeat center center;
  padding: 88px 0 180px;
}
.statistic__main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.statistic__heading {
  margin-bottom: 50px;
}
.statistic__desc {
  max-width: 700px;
  text-align: center;
  margin-bottom: 92px;
}
.statistic__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 5vw;
}
.statistic__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 50%;
  border: 5px solid white;
  font-weight: bold;
  text-align: center;
}
.statistic__item__container {
  margin: 5vw 4vw;
}
.statistic__item__number {
  font-size: 75px;
}
.statistic__item__type {
  font-size: 42px;
}
@media screen and (max-width: 1023px) {
  .statistic {
    padding: 44px 0 90px;
  }
}
@media screen and (max-width: 767px) {
  .statistic__items {
    grid-template-columns: 1fr;
    gap: 5vh 0;
  }
  .statistic__item__container {
    margin: 12vw 10vw;
  }
}

.client {
  padding: 145px 0 140px;
  background: url(../images/img10.png);
}
.client__main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.client__img {
  margin-bottom: 46px;
}
.client__comment {
  text-align: center;
  margin-bottom: 52px;
}
.client__name {
  font-size: 45px;
}
@media screen and (max-width: 767px) {
  .client {
    padding: 100px 0 70px;
  }
  .client__name {
    font-size: 26px;
  }
}

.subscribe {
  padding: 100px 0 200px;
  background: #ffd17e url(../images/img12.png) no-repeat center center;
}
.subscribe__main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.subscribe__heading {
  margin-bottom: 64px;
  color: #21243d;
}
.subscribe__desc {
  margin-bottom: 82px;
  width: 80%;
  text-align: center;
  color: #21243d;
}
.subscribe__form {
  min-width: 50%;
  position: relative;
}
.subscribe__form__input {
  width: 100%;
  font-size: 25px;
  padding: 24px 0;
  padding-left: 20px;
  border: 0;
  border-radius: 100px;
  transform: translateX(-10px);
}
.subscribe__form__input:focus {
  outline: none;
}
.subscribe__form__button {
  padding: 26px 36px;
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (max-width: 1023px) {
  .subscribe__desc {
    width: 100%;
  }
  .subscribe__form {
    min-width: 80%;
  }
}
@media screen and (max-width: 767px) {
  .subscribe {
    padding: 100px 0;
  }
  .subscribe__form__input {
    font-size: 12px;
    padding: 16px 0;
    padding-left: 20px;
  }
  .subscribe__form__button {
    padding: 16px 16px;
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
  }
}

/*# sourceMappingURL=app.css.map */
