.adsst {
  background: $yellow url(../images/img6.png) no-repeat center center;
  &__main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 192px 0 144px;
  }
  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  &__heading {
    margin-bottom: 60px;
  }
  &__desc {
    margin-bottom: 75px;
    color: $blue;
  }

  @include maxw(1023px) {
    &__main {
        grid-template-columns: 1fr;
      }
  }
}
