body {
  background-color: $blue;
  font-family: $font;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: white;
  max-width: 1440px;
  margin: 0 auto;
}
.container {
  max-width: 1328px;
  margin: 0 auto;
  padding: 0 15px;
}
.title {
  font-weight: bold;
  color: white;
  &-lg {
    font-size: 124px;
  }
  &-md {
    font-size: 75px;
    color: $blue;
  }
  &-sm {
    font-size: 64px;
  }
  &-xs {
    font-size: 28px;
  }
}
.text {
  color: white;
  &-xl {
    font-size: 42px;
  }
  &-lg {
    font-size: 30px;
  }
  &-md {
    font-size: 26px;
  }
  &-sm {
    font-size: 24px;
  }
  &-xs {
    font-size: 16px;
  }
}
.link {
  cursor: pointer;
}
.btn {
  width: fit-content;
  background-color: $blue;
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
  padding: 26px 74px;
  border-radius: 100px;
  text-transform: uppercase;
}

@include maxw(767px) {
  .btn {
    font-size: 16px;
    padding: 16px 32px;
  }
  .title {
    &-lg {
      font-size: 62px;
    }
    &-md {
      font-size: 38px;
    }
    &-sm {
      font-size: 32px;
    }
    &-xs {
      font-size: 24px;
    }
    &-xxs {
      font-size: 16px;
    }
  }
  .text {
    color: white;
    &-xl {
      font-size: 22px;
    }
    &-lg {
      font-size: 16px;
    }
    &-md {
      font-size: 14px;
    }
    &-sm {
      font-size: 12px;
    }
    &-xs {
      font-size: 10px;
    }
  }
}
