.header {
  &__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 0px 20px;
  }
  &__nav {
    flex: 1;
    padding-left: 15%;
    padding-right: 10px;
    .nav {
      &__list {
        display: flex;
        align-items: center;
        gap: 0 6%;
      }
      &__link {
        font-size: 25px;
      }
    }
  }
  &__icons {
    padding-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    .icon {
      &__toggle {
        display: none;
        padding-left: 30px;
        font-size: 30px;
        color: white;
      }
    }
  }

  @include maxw(1023px) {
    &__nav {
      display: none;
    }
    &__icons {
      .icon {
        &__toggle {
          display: initial;
        }
      }
    }
  }

  @include maxw(767px) {
  }
}
