.hero {
  background: url(../images/img1.png) no-repeat center center;
  &__main {
    padding: 170px 0 156px;
  }
  &__title {
    margin-bottom: 80px;
  }
  &__desc {
    max-width: 50%;
    margin-bottom: 52px;
    word-wrap: break-word;
  }

  @include maxw(1023px) {
    &__desc {
      max-width: 80%;
    }
  }

  @include maxw(767px) {
    &__main {
      padding: 70px 0 56px;
    }
    &__title {
      margin-bottom: 40px;
    }
    &__desc {
      max-width: 100%;
      margin-bottom: 26px;
    }
  }
}
